# Capstone Project - The Battle of Neighborhoods

## Business Problem Section

#### Background

We have saved some money throughout the past years and we want to invest in Real State business. We want to buy a house in Mexico City in order to rent it, but we want to find a profitable place.

#### Where should we buy the house/apartment?

We are not able to visit all the neighborhoods in Mexico City, so we are going to use Cluster Analysis with AirBnB data in order to see the demand of rent sevice´s and use the FourSquare data location to see if there is any relation between the demand of rent sevice's and the density of venues.

## Data section

AirBnB data was collected from the website called *Kaggle* which is an online community of data scientists and machine learners, owned by Google LLC. Kaggle allows users to find and publish data sets, as well as so many other things. The dataset could be download in https://www.kaggle.com/tsarina/mexico-city-airbnb.

We are going to use the data of neighbourhood, latitude, longitude, room_type, price and calculated_host_listings_count columns. The first ones to make FourSquare calls and the three last to see if there is any relation as we mentioned before.

## Methodology section

The Methodology section describe the main components of our analysis. The Methodology section comprises four stages:

1. Collect Data
2. Explore and Understand Data
3. Data preparation and preprocessing 
4. Modeling

#### 1. Collect data

In [46]:
import pandas as pd
import numpy as np

In [26]:
airbnb = pd.read_csv('airmx.csv')
airbnb.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,14714,Private room c/ bathroom . Colonia Juarez.,57785,Diego,NaN,Cuauhtémoc,19.43035,-99.15511,Private room,478,2,0,NaN,NaN,2,327
1,22787,"Sunny suite w/ queen size bed, inside boutique...",87973,Diego,NaN,Cuauhtémoc,19.44076,-99.16324,Private room,1969,1,57,2019-05-27,0.52,9,355
2,33681,Couple of Rooms,145672,Edubiel,NaN,Tlalpan,19.27215,-99.21848,Private room,1740,1,0,NaN,NaN,1,365
3,35797,Villa Dante,153786,Dici,NaN,Cuajimalpa de Morelos,19.38399,-99.27335,Entire home/apt,3823,1,0,NaN,NaN,2,363
4,44616,CONDESA HAUS B&B,196253,Condesa Haus Bed & Breakfast CDMX,NaN,Cuauhtémoc,19.41006,-99.17645,Private room,1893,1,39,2019-05-02,0.42,10,334

We are going to use the data of neighbourhood, latitude, longitude, room_type, price and calculated_host_listings_count. We will drop the other ones.
We also going to rename the columns to make it more understandable.

In [27]:
columns = ['neighbourhood', 'latitude', 'longitude', 'room_type', 'price', 'calculated_host_listings_count']

airbnb = airbnb[columns]
airbnb.rename({'neighbourhood':'Neighborhood', 
            'latitude':'Latitude', 
            'longitude': 'Longitude', 
            'room_type':'Room Type', 
            'price':'Price(MXN)',
            'calculated_host_listings_count':'Rent Frequency'}, axis = 1, inplace = True)

print(airbnb.shape)
airbnb.head()

(19030, 6)

,Neighborhood,Latitude,Longitude,Room Type,Price(MXN),Rent Frequency
0,Cuauhtémoc,19.43035,-99.15511,Private room,478,2
1,Cuauhtémoc,19.44076,-99.16324,Private room,1969,9
2,Tlalpan,19.27215,-99.21848,Private room,1740,1
3,Cuajimalpa de Morelos,19.38399,-99.27335,Entire home/apt,3823,2
4,Cuauhtémoc,19.41006,-99.17645,Private room,1893,10

We only are going to use 3% of data in order to make the process faster.

In [60]:
from sklearn.model_selection import train_test_split
x_train ,air = train_test_split(airbnb,test_size=0.03, random_state=18)

print(air.shape)
air.head()

(571, 6)

,Neighborhood,Latitude,Longitude,Room Type,Price(MXN),Rent Frequency
8080,Cuauhtémoc,19.42388,-99.15489,Entire home/apt,1396,32
12395,Tlalpan,19.31051,-99.22104,Entire home/apt,5200,3
9320,Venustiano Carranza,19.42223,-99.09048,Private room,459,11
5574,Cuauhtémoc,19.43541,-99.14493,Entire home/apt,822,5
155,Cuauhtémoc,19.42984,-99.16936,Entire home/apt,956,10